# python
*.py[cod]
__pycache__/

# tfbp
data/
experiments/

# virtualenv
env/

# ide
*.sublime-project
*.sublime-workspace
*.swp

# latex
*.pdf
*.aux
*.log
*.out
*.bbl
*.blg
*.fls
*.synctex.gz
*.fdb_latexmk

# os
Icon?
.DS_Store
